* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); 
}

.mainContent {
    display: inline-block;

    background-image: url("../res/img/background.jpeg");
    width: 100vw;
    height: 100vh;
}

#cookie {
    background-color: transparent;
    border: none;
    outline: none;
}

#cookiesTotal {
    color: white;
    font-size: 32px;

    text-align: center;
}

#cookie:hover {
    cursor: pointer;
}